body{
    background-color: var(--color-primary);
}

.main-container{
    max-width: var(--container-width);
    border-radius: var(--border-radius-small);
    margin-inline: auto;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}
/*========================================================*/
/*====================== modal ======================*/
/*========================================================*/


.modal-overlay, .Add-modal-overlay{
    width: 100%;
    color: white;
    background-color: rgb(21, 21, 21);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*========================================================*/
/*====================== pagination ======================*/
/*========================================================*/

.pagination{
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

.pagination .prev-btn.disabled,
.pagination .next-btn.disabled{
    color: var(--color-gray);
}

/*========================================================*/
/*========================================================*/

.sort-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.sort-buttons img{
    width: 1em;
    object-fit: cover;
}

.sort-buttons :last-child img{
    rotate: 180deg;
}

.unit-info{
    display: flex;
}
.unit-info label{
    font-size: 20px;
    margin-right: 20px;
}

.text-truncate{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 120px;
}
