body{
    background-color: var(--color-primary);
}

.main-container{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: var(--container-width);
    border-radius: var(--border-radius-small);
    margin-inline: auto;
    display: flex;
    gap: 24px;
}

.edit-user-form{
    margin-top: 1.5rem;
    background-color: var(--color-white);
    border-radius: var(--border-radius-small);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 0.5rem;
    min-width: 420px;
}

.edit-user-form h1{
    font-size: 2em;
    text-align: center;
}

.edit-user-form form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1.5em;
}

.edit-user-form .info-item{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.edit-user-form #role-container{
    display: inline;
}

.edit-user-form label,
.edit-user-form span,
.edit-user-form input{
    border-radius: .25em;
}

.edit-user-form span,
.edit-user-form input,
.edit-user-form select{
    width: 100%;
    padding: .25em .5em;
    background-color: var(--color-gray-light);
}

.edit-user-form label{
    font-size: .9em;
    margin-bottom: .5em;
}

/*to keep the height of an empty input*/
.edit-user-form span {
    min-height: 2em;
    color: #727e94;
}

.edit-user-form span.role{
    width: auto;
}

.edit-user-form input:focus{
    color: #0a0a0a;
    outline: 2px solid var(--color-secondary-dark);
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
}

.text-danger{
    color: var(--color-danger);
}

.btns-wrapper{
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.btns-wrapper button{
    color: var(--color-white);
    background-color: var(--color-primary);
    border-radius: .25em;
    padding: .25em .5em;
}

.btns-wrapper button:hover{
    background-color: var(--color-primary-dark);
}

.btns-wrapper button[type="submit"]{
    width: 50%;
}

.btns-wrapper button[type="button"]{
    width: 100%;
}
