body{
    background-color: var(--color-tirnary-lighter);
}

.main-container{
    max-width: var(--container-width);
    border-radius: var(--border-radius-small);
    margin-inline: auto;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}

.search-wrapper{
    border-radius: var(--border-radius-small);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search-wrapper .search-form{
    display: flex;
    justify-content: start;
    gap: var(--gap);
    width: 100%;
}

.search-wrapper .search-form .search-bar{
    display: flex;
    border-radius: .25em;
}

.search-wrapper .search-form input{
    background-color: var(--color-white);
    border-radius: var(--border-radius-smaller) 0 0 var(--border-radius-smaller);
    padding: .5em;
    font-size: .9em;
    color: var(--color-secondary-darker);
}

.search-wrapper .search-form input:focus {
    outline: none;
}

.search-wrapper .search-form :has(input:focus) {
    outline: 2px solid var(--color-secondary-dark);
}

.search-wrapper .search-form .submit-btn{
    background-color: var(--color-secondary-dark);
    border-radius: 0 .25em .25em 0;
    padding: .5em;
}

.search-wrapper .search-form .submit-btn:hover{
    background-color: var(--color-secondary-darker);
}

.search-wrapper .search-form .dropdown{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .9em;
    min-width: 150px;
    color: var(--color-white);
    background-color: var(--color-tirnary);
    border-radius: var(--border-radius-smaller);
}

.search-wrapper .search-form .dropdown:hover{
    border-radius: var(--border-radius-smaller) var(--border-radius-smaller) 0 0 ;
}

.search-wrapper .search-form .dropdown:hover .dropdown-content{
    /*border-top: 2px solid var(--color-secondary);*/
}

.search-wrapper .search-form .dropdown-content{
    display: none;
    position: absolute;
    overflow: hidden;
    font-size: .9em;
    background-color: var(--color-tirnary-light);
    border-radius: 0 0 var(--border-radius-smaller) var(--border-radius-smaller);
    min-width: 150px;
    top: 20px;
    z-index: 1;
}

.dropdown-content a {
    color: var(--color-tirnary-darker);
    text-decoration: none;
    display: block;
    font-size: 1.1em;
    padding: .5em;
}

.dropdown-content a:hover {
    background-color: var(--color-tirnary-lighter);
}

.search-wrapper .add-btn{
    background-color: var(--color-primary);
    border-radius: var(--border-radius-smaller);
    color: var(--color-white);
    min-width: 150px;
    padding: .5em .25em;
}

.search-wrapper .add-btn:hover{
    background-color: var(--color-primary-dark);
}

/*pagination*/

.pagination{
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

.pagination .prev-btn.disabled,
.pagination .next-btn.disabled{
    color: var(--color-gray);
}


/* Extra Small (Phones) */
@media (max-width: 575px) {
    .login-container {
        width: 80%;
    }

    .info-container {
        width: 100%;
    }

    .img-container{
        display: none;
    }
}

@media (min-width: 576px) {
    .login-container {
        width: 80%;
        height: 360px;
    }
}
/* Small Devices (Tablets) */
@media (min-width: 768px){
    .login-container {
        width: 640px;
        height: 420px;
    }
}

/* Medium Devices (Small Laptops) */
@media (min-width: 1024px) {
    .login-container {
        width: 820px;
        height: 480px;
    }
}

/* Large Screens */
@media (max-width: 1200px) {
    .main-container {
        width: 960px;
    }
}
/*================================================================*/

#deleteForm{
    max-width: 380px;
    min-height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    overflow: hidden;
    border-radius: var(--border-radius-medium);
    background-color: var(--color-white);
}

#deleteForm .popup-img-top {
    width: 100%;
    height: auto;
    object-fit: cover; /* Ensures image covers the area */
    border-bottom: 1px solid #ddd; /* Optional: add a line below image */
}

#deleteForm .content{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 16px;
}

#deleteForm .button-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 16px;
}

#deleteForm .password-container{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
#deleteForm label[for="password"]{
    font-size: 0.9em;
    display: inline-block;
    align-content: center;
}

#deleteForm input[name="password"]{
    font-size: 0.9em;
    border-radius: 0.25em;
    padding: .25em .5em;
    border: 1px solid black;
    width: 100%;
}

#deleteForm button[type="submit"],
#deleteForm button[type="button"]{
    width: 50%;
    border-radius: var(--border-radius-smaller);
    border: 1px solid #ff4646;
    padding: .25em .5em;
}
#deleteForm button[type="submit"]{
    color: var(--color-white);
    background-color: #ff4433;
}
#deleteForm button[type="submit"]:hover{
    background-color: #da2e1e;
}
#deleteForm button[type="button"] {
    color: #ff4433;
}
