@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

*{
    font-family: 'Poppins', sans-serif;
}

:root{
    --color-gray-lighter: #f8fbff;
    --color-gray-light: #e9ecef;
    --color-gray: #c6c8cc;
    --color-gray-dark: #696a6e;

    --color-white: #fff;

    --color-primary-lighter: #abcdff;
    --color-primary-light: #84afff;
    --color-primary: #2A54FFFF;
    --color-primary-dark: #183dd5;
    --color-primary-darker: #042abb;

    --color-secondary-light: #ffe3f7;
    --color-secondary: #FFCCF2FF;
    --color-secondary-dark: #ff96e4;
    --color-secondary-darker: #e865c8;

    --color-tirnary-lighter : #ebe7ff;
    --color-tirnary-light : #cbc4fa;
    --color-tirnary : #997DFFFF;

    --color-tirnary-darker : #3516a1;

    --color-success: #0ba84f;
    --color-success-dark: #047c36;
    --color-info: #406dfa;
    --color-info-dark: #17389f;
    --color-warning: #ffc107;
    --color-warning-dark: #ad850e;
    --color-danger: #f44336 ;
    --color-danger-dark: #b21f14;

    --bg-gradient: linear-gradient(-45deg, #2a54ffff 0%, rgba(153,125,255,1) 50%, rgba(255,204,242,1) 100%);
    --bg-gradient-2: linear-gradient(-45deg, rgba(153,125,255,1) 0%, rgba(255,204,242,1) 100%);
    --bg-gradient-light: linear-gradient(-45deg, #adcaff 0%, rgb(201, 187, 255) 50%, rgb(255, 215, 245) 100%);

    --border-radius-larger: 32px;
    --border-radius-large: 16px;
    --border-radius-medium: 12px;
    --border-radius-small: 8px;
    --border-radius-smaller: 4px;

    --font-size-2xs: 8px;
    --font-size-xs: 12px;
    --font-size-sm: 16px;
    --font-size-md: 20px;
    --font-size-lg: 24px;
    --font-size-xl: 32px;
    --font-size-2xl: 48px;

    --card-width: 480px;
    --card-height: 360px;
    --card-title-font-size: var(--font-size-sm);
    --card-date-font-size: var(--font-size-xs);
    --container-width: 320px;
    --gap : 16px;
    --gap-x : 16px;
    --gap-y : 8px;

    --identity-container-height: 350px;
    --profile-image-height: 250px;

}

body{
    /*background-color: #0a0a0a;*/
}

/*===============*/
/*card*/
/*===============*/

.info-card{
    border: 1px solid var(--color-primary-light);
    border-radius: var(--border-radius-medium);
    background-color: var(--color-primary-light);
    /*background: var(--bg-gradient);*/
    /*flex-grow: 1;*/
    box-sizing: border-box;
    width: var(--card-width);
    padding: 12px;
    /*min-height: var(--card-height);*/
    display: flex;
    flex-direction: column;
}

.info-card .title{
    padding: 8px;
    font-size: var(--card-title-font-size);
    margin-bottom: 8px;
    border-bottom: 1px solid var(--color-primary);
    color: var(--color-primary);

}

.info-card .table-container{
    flex-grow: 1;
    /*background-color: var(--color-primary);*/
}

.info-card table{
    width: 100%;
}

.info-card table .row{
    border: 1px solid var(--color-primary-darker);
}

.info-card table th ,
.info-card table td{
    font-size: var(--card-date-font-size);
    padding: 4px 6px ;
}

.info-card table th{
    font-weight: normal;
    color: var(--color-gray);
}

.info-card table td{
    text-align: right;
}
/*===============*/
/*profile section*/
/*===============*/

.info-section,
.identity-section {
    gap: var(--gap);
    display: flex;
    box-sizing: border-box;
    max-width: var(--container-width);
    margin-inline: auto;
}

.identity-section {
    align-items: center;
    border-radius: var(--border-radius-medium);
    background-color: var(--color-primary-light);
    min-height: var(--identity-container-height);
    margin-block: 16px;
    padding: 8px;
}

.identity-section .img-container{
    margin: 8px;
    height: var(--profile-image-height);
    width: auto;
    aspect-ratio: 1;
    background: url('/public/png/profile-img.jpg') no-repeat center;
    background-size: cover;
    border-radius: var(--border-radius-large);
    flex-grow: .3;
}

.identity-section :nth-child(2) {
    flex-grow: .7;
}

.identity-section .profile-img{
}

.info-section{
    justify-content: center;
    flex-wrap: wrap;
}

/*===============*/
/*media queries*/
/*===============*/

/* Small devices (sm - ≥640px) */
@media (min-width: 640px) {
    :root {
        --container-width: 540px;
        --card-width: calc((var(--container-width) - var(--gap)) / 2);
        --card-title-font-size: var(--font-size-xs);
        --card-date-font-size: var(--font-size-xs);
        --identity-container-height: 180px;
    }
    .info-card:last-child{
        width: 100%;
    }
}

/* Medium devices (md - ≥768px) */
@media (min-width: 768px) {
    :root {
        --container-width: 720px;
        --card-width: calc((var(--container-width) - var(--gap)) / 2);
        --card-title-font-size: var(--font-size-sm);
        --card-date-font-size: var(--font-size-sm);
    }

}

/* Large devices (lg - ≥1024px) */
@media (min-width: 1024px) {
    :root {
        --container-width: 960px;
        --card-width: calc((var(--container-width) - var(--gap)) / 2);
        --card-title-font-size: var(--font-size-sm);
    }
    .info-card table td{
        text-align: left;
    }
}

/* Extra Large devices (xl - ≥1280px) */
@media (min-width: 1280px) {
    :root {
        --container-width: 1140px;
        --card-width: calc((var(--container-width) - var(--gap)) / 2);
    }
}

/* 2XL devices (xxl - ≥1536px) */
@media (min-width: 1536px) {
    :root {
        --container-width: 1320px;
        --card-width: calc((var(--container-width) - var(--gap)) / 2);
    }
}
