.filter-dropdown-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-secondary);
    border-radius: 4px;
}

.filter-dropdown {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0.5em;
    padding: 0.25em;
    border: 1px solid var(--color-primary);
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    font-size: 1em;
    color: var(--color-primary);
    background-color: var(--color-secondary);
}

.filter-dropdown .selected {
    padding: .25em .5em;
}

.filter-dropdown label{
    position: absolute;
    z-index: 100;
    top: 0;
    left: 4px;
    font-size: 0.75em;
    text-align: start;
    transform: translateY(-50%);
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

.filter-dropdown .options {
    display: none;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-white);
    border: 1px solid var(--color-primary);
    border-radius: 4px;
    z-index: 1000;
    /*overflow-y: auto;*/
}

.filter-dropdown .options.show {
    display: block;
    min-width: 62px;
}

.filter-dropdown .option {
    padding: 4px 6px;
}

.filter-dropdown .option:hover,
.filter-dropdown .option:focus {
    background-color: var(--color-primary-lighter);
    outline: none;
}

.filter-dropdown .option.selected-option {
    background-color: var(--color-primary);
    color: var(--color-white);
}

.filter-dropdown .dropdown-icon{
    padding: .25em .5em;
}

.filter-dropdown .dropdown-icon img{
    width: .75em;
    object-fit: cover;
    rotate: 180deg;
}

/*=====================================*/
/* sort-buttons */
/*=====================================*/

.sort-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.sort-buttons img{
    width: .75em;
    object-fit: cover;
}

.sort-buttons :last-child img{
    rotate: 180deg;
}
