.header-user{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;

    background-size: contain; /* Cover the entire nav area */
    background-position: right; /* Center the image */
    background-repeat: no-repeat; /* Prevent image repetition */
    background-color: var(--color-primary);
    padding: 16px;
}

.header-user .path{
    color: white;
}

.header-user h1{
    font-size: 32px;
    color: white;
}

.header-user h2{
    font-size: 14px;
    /*margin: 0.25em;*/
}

