@import url(../app.css);

nav{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-inline: var(--gap-x);
    padding: .5rem 1rem;
    background: var(--color-white);
}

.user-navigation-wrapper{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: var(--gap-x);
}

.nav-logo{
    width: 48px;
}

nav ul{
    display: flex;
    gap: var(--gap-x);
}

.desktop-menu{
    background-color: var(--color-secondary-light);
    padding: 0.25rem 1rem;
    border-radius: 1.5rem;
}

.mobile-menu{
    position: absolute;
    z-index: 1000;
    width: 100%;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--color-white);
    box-shadow: 0 4px 12px rgba(42, 84, 255, 0.15);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.3s ease;
}

.mobile-menu.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

@media screen and (min-width: 768px) {
   .mobile-menu-button{
       display: none;
   }

    .desktop-menu ul li{
        color: var(--color-primary-light);
        text-align: center;
    }

    .desktop-menu ul li a:hover,
    .desktop-menu .active-link
    {
        color: var(--color-primary);
    }

    /*.logo-wrapper,*/
    /*.user-navigation-wrapper{*/
    /*    min-width: 210px;*/
    /*}*/

}

@media screen and (max-width: 768px) {
    .mobile-menu-button{
        display: block;
    }
    .desktop-menu{
        display: none;
    }

    .mobile-menu ul{
        display: block;
    }

    .mobile-menu ul li{
        padding: 0.5rem 1rem;
        border-bottom: 1px solid var(--color-secondary);
        text-align: center;
        font-size: 1.25em;
    }

    nav .mobile-menu ul li a:hover,
    nav .mobile-menu .active-link
    {
        color: var(--color-primary);
        border-bottom: none;
    }


}
