@import url(../app.css);

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-inline: var(--gap-x);
    padding: .5rem 1.5rem;
    background: var(--color-white);
}

.nav-logo{
    width: 48px;
}

nav ul{
    display: flex;
    gap: var(--gap-x);
}

nav ul li a:hover,
nav .active-link
{
    color: var(--color-primary);
    border-bottom: 2px solid var(--color-primary);
}
