/* Base table styles */
.table-container {
    border-radius: var(--border-radius-small);
    overflow: auto;
}


.table-container table {
    border-collapse: separate;
    border-radius: var(--border-radius-smaller);
    border-spacing: 0;
    width: 100%;
    --table-font-size: var(--font-size-lg);
    --td-wrapper-padding: 0.75rem 0.5em;
}

/* Cell styling */
.table-container table th {
    background-color: var(--color-secondary);
    border-bottom: 2px solid var(--color-primary);
    font-weight: 600;
}

.table-container table td {
    background: var(--color-white);
    border: 1px solid var(--color-primary-lighter);
}

.table-container table tr {
    margin: 0;
}

.table-container table tr:hover {
    background-color: var(--color-gray-lighter);
}

/* Wrapper styles */
.table-container table .th-wrapper {
    align-items: center;
    color: var(--color-primary);
    display: flex;
    font-size: var(--table-font-size);
    gap: 0.5em;
    justify-content: center;
    padding: 0.75em 0.5em;
}

.table-container table .td-wrapper {
    align-items: center;
    display: flex;
    font-size: var(--table-font-size);
    gap: 0.5em;
    justify-content: center;
    padding: var(--td-wrapper-padding);
    text-align: start;
}

/* Border radius rules */
.table-container table tr:first-child th:first-child {
    border-top-left-radius: var(--border-radius-smaller);
}

.table-container table tr:first-child th:last-child {
    border-top-right-radius: var(--border-radius-smaller);
}

.table-container table tr:last-child td:first-child {
    border-bottom-left-radius: var(--border-radius-smaller);
}

.table-container table tr:last-child td:last-child {
    border-bottom-right-radius: var(--border-radius-smaller);
}

/* Border removal rules */
.table-container table tr:first-child th {
    border-top: none;
}

.table-container table tr:last-child td {
    border-bottom: none;
}

.table-container table tr td:first-child,
.table-container table tr th:first-child {
    border-left: none;
}

.table-container table tr td:last-child,
.table-container table tr th:last-child {
    border-right: none;
}

.table-container table tr:nth-child(2) td {
    border-top: none;
}

.table-container table td:first-child {
    text-align: center;
}

/* Role styling */
.table-container table tr td .role {
    border-radius: 1rem;
    font-size: 12px;
    max-width: 140px;
    padding: 2px 4px;
    text-align: center;
}

/* Empty table styles */
.table-container .empty-table {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    padding: 2em;
}

.table-container .empty-table p {
    color: var(--color-primary);
    font-size: 32px;
}

/* Pagination styles */
.pagination {
    color: var(--color-white);
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    padding: 12px;
}

.pagination .prev-btn.disabled,
.pagination .next-btn.disabled {
    color: var(--color-gray);
}

/*================================*/
/* Responsive table styles */
/*================================*/

.mobile {
    display: none;
}

@media (max-width: 768px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    .cards-grid {
        display: grid;
        gap: 1rem;
    }

    .card {
        background: white;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        overflow: hidden;
    }

    .card-header {
        padding: 1rem;
        background: var(--color-gray-lighter);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .card-id {
        font-weight: bold;
        color: var(--color-primary);
    }

    .card-body {
        padding: 1rem;
    }

    .info-row {
        display: flex;
        padding: 0.5rem 0;
        border-bottom: 1px solid var(--color-gray-light);
        font-size: 0.8em;
    }

    .info-row:last-child {
        border-bottom: none;
    }

    .info-row .label {
        font-weight: 600;
        width: 120px;
        color: var(--color-secondary-dark);
        flex: .3;
    }

    .info-row .value {
        flex: .7;
        text-align: right;
    }

    .card-footer {
        padding: 1rem;
        background: var(--color-gray-lighter);
        display: flex;
        justify-content: flex-end;
    }

    .icons-wrapper {
        gap: 1rem;
    }
}
