.table-container table {
    width: 100%;
    border-radius: var(--border-radius-smaller);
    background-color: var(--color-white);
    border: 1px solid var(--color-primary);
    overflow: hidden;
}

.table-container table th {
    font-weight: 600;
    padding: 0.75em 0.5em;
    background-color: var(--color-secondary);
    border-bottom: 2px solid var(--color-primary);
}

.table-container table .th-wrapper {
    font-size: 0.9em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    color: var(--color-primary);
}

.table-container table td {
    padding: 0.75em 0.5em;
    border: 1px solid var(--color-primary-lighter);
}

.table-container table .td-wrapper {
    font-size: 0.9em;
    gap: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
}

.table-container table td:first-child {
    text-align: center;
}

/*.table-container table .nested {*/
/*}*/

.table-container table tr td .role {
    border-radius: 1rem;
    padding: 2px 4px;
    font-size: 12px;
    text-align: center;
    max-width: 140px;
}

.table-container .empty-table{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.table-container .empty-table p{
    color: var(--color-primary);
    font-size: 32px;
}
