body{
    background-color: var(--color-secondary-light);
}

.main-container{
    max-width: var(--container-width);
    border-radius: var(--border-radius-small);
    margin-inline: auto;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}

.main-container h1{
    margin-bottom: 1.5rem;
    color: var(--color-primary);
    font-size: 2rem;
}

/*================================*/
/*filiere Selection form*/
/*================================*/

.filiere-select-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.filiere-select-container .filiere-option{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.2s ease;
}

.filiere-select-container .filiere-option:hover{
    transform: scale(1.02);
}

.filiere-select-container .filiere-option span{
    /*font-weight: 600;*/
    padding: .25rem;
    color: var(--color-primary);
    text-align: end;
    font-size: 1.25rem;
    /*background-color: var(--color-white);*/
}

