body{
    background-color: var(--color-secondary);
}

.main-container{
    max-width: var(--container-width);
    border-radius: var(--border-radius-small);
    margin-inline: auto;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}

.main-container h1{
    margin-bottom: 1.5rem;
    color: var(--color-primary);
    font-size: 2rem;
}


