body{
    background-color: var(--color-primary);
}

.main-container{
    max-width: var(--container-width);
    border-radius: var(--border-radius-small);
    margin-inline: auto;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}

/*========================================================*/
/*====================== pagination ======================*/
/*========================================================*/

.pagination{
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    padding: 12px;
    color: var(--color-white);
}

.pagination .prev-btn.disabled,
.pagination .next-btn.disabled{
    color: var(--color-gray);
}

/*========================================================*/
/*========================================================*/

.text-truncate{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;          /* Changed from inline-block to block */
    width: 100%;            /* Explicit width declaration */
    min-width: 0;
}
